div#left-tabs-2,
/*div#right-tabs-1,*/
div#right-tabs-2,
div#right-tabs-3 {
    padding: 0 !important;
}

.datagrid{
	position:absolute;
	bottom:0;
	width:100%;
	padding-top: 4px;
	padding-bottom:6px;
	padding-right:4px;
	overflow: hidden;
}	
.datagrid .header{
	height:30px;
	width:100%;
	background-color:#616161;
	color:white;
}
.datagrid .body{
	width:100%;
	overflow: auto;
	/*background-color:#f8f8f8;*/
	height:0;
	overflow-x: hidden;
	overflow-y: scroll;
}

.datagrid .body tr.highlight td{
	font-weight:bold;
	background-color:#d3ffcc;
}

.datagrid .body tr td{
    border-top: #c3c3c3 1px solid;
	/*background-color:#f8f8f8;*/
	padding-top: 4px;
    padding-bottom: 4px;
}

.datagrid .body tr:last-child td{
	background-color:inherit;
}

.datagrid tr.justify td {
    text-align: justify;
}

.datagrid table{
	height:100%;
	width:100%;
}
.datagrid .col,
.datagrid td{
	padding-left:5px;
	padding-right:5px;
	/*height:40px;*/
}
.datagrid .body tr:last-child{
	height:100%;
}

/*
.datagrid .col.col-1,
.datagrid * .col.col-1{
	width:20%;
	min-width:80px;
}
.datagrid .col.col-2,
.datagrid * .col.col-2{
	width:40%;
	min-width:80px;
}
.datagrid .col.col-3,
.datagrid * .col.col-3{
	width:40%;
	min-width:80px;
}
*/
.datagrid .col:last-child,
.datagrid * .col:last-child{
	width:auto !important;
}
