.download-button .glyphicon.glyphicon-download{
    vertical-align: text-bottom;
    font-size: 13pt;
}
.download-menu .download{
    width: 100%;
    height: 100%;
    font-size: 11pt;
}
.download-button .dropdown{
    height: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    margin-top: -3px;
}
.download-button{
    width: 220px;
    height: 32px;
    position: fixed;
    z-index: 900;
    line-height: 30px;
    text-align: center;
    font-size: 13pt;
    background-color: #f8f8f8;
    left: 0px;
    padding: 0;
    color: #777;
    padding-left: 45px;
    border-right: 1px #ccc solid;
}
button.download.dropdown-toggle {
    background-color: transparent;
    border: 0;
    box-shadow: none !important;
    width: 100%;
    height: 100%;
    font-size: 11pt;
}
.download-button .dropdown-menu{
    max-width: 120px !important;
    min-width: 120px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 1px;
}