.layer-vizualizer-canvas,
.fake-canvas {
	border:none;
    width:100%;
	height:24vh;
	/*top:0px;
	left:0px;*/
	position:absolute;
}

.layer-vizualizer-canvas{
	/*border:1px solid black;*/
	position:absolute;
	/*z-index:-1;*/
}

.canvas-wrapper{
	position:relative;
	/*margin:auto auto;*/
	/*margin-top:10px;*/
	width:99%;
	/*padding-left:1%;
	padding-right:1%;*/
	height:24vh;/**/
}
.wrapper-container{
	width: 100%;/*65*/
    position: absolute;
    left: 0;
	margin: auto auto;
	padding-top: 3px;
    padding-left: 4px;
}
.bottom-panel-toggled .wrapper-container,
.bottom-panel-toggled .bottom-tabs-toggled .wrapper-container{
	width:100%;
	position:relative;
}
.bottom-tabs-toggled .wrapper-container{
	/*width:65%;*/
	width:100%;
}
.bottom-panel-toggled .wrapper-container{
	height:50vh;
}

.residueItem, .propertyItem{
	margin-right:20px;
	white-space: nowrap;
	float:left;
}
.propertyItem{
	min-width:90px;
	width:28%; /*90px*/
}
/*
.residueItem{
	width:100%;
}
*/
.bottom-panel-toggled .propertyItem{
	width:22%;
}
.layerVizualizer .properties{
	width:100%;
}
.residueItem:last-child, .propertyItem:last-child{
	margin-right:0px;
}

.layer-vizualizer-detail-div{
	/*padding-left:15px;
	padding-right:15px;*/
	width: 39%; /*34*/
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 3%;
    font-size: 8pt;
	padding-left: 1%;
}
.bottom-panel-toggled .layer-vizualizer-detail-div,
.bottom-panel-toggled .bottom-tabs-toggled .layer-vizualizer-detail-div{
	display:block;
	position:relative;
	width:100%;
	margin-top:1%;
}/*
.bottom-tabs-toggled .layer-vizualizer-detail-div{
	margin-top:7%;
	width:34%;
}*/
.bottom-tabs-toggled .layer-vizualizer-detail-div{
	display:none;
}
.bottom-panel-toggled .layer-vizualizer-detail-div{
	font-size:10pt;
}


.layer-vizualizer-detail-div div{
	float:left;
}

.layer-vizualizer-hint-div{
	text-align: center;
	padding: 5.5vh;
	padding-left: 2vw;
	padding-right: 2vw;
	font-size: 24pt;
	font-weight: bold;
	color: darkkhaki;
	text-shadow: 1px 1px #333;
	display:block;
}

.layerVizualizer * .controls{
	width:90%;
	/*margin:auto auto;*/
	/*margin-top: 5px;*/
	/*text-align:center;*/
	font-size:9pt;
}

.layerVizualizer * .controls .btn{
	margin-right:0;
}

.layerVizualizer * .controls .control-label{
	padding-left:8px;
	font-weight: bold;
	padding-right: 8px;
	display: inline-block;
}

.bottom-tabs-toggled .layerVizualizer * .controls .control-label{
	display:none;
}

.layerVizualizer * .controls .control-label:first{
	padding-left:0;
}

.layerVizualizer * .controls .common-area{
	position:absolute;
	top:0;
	right:0;
	padding-right:3px;
	padding-top: 3px;
}

.layerVizualizer * .controls .export-button,
.layerVizualizer * .controls .color-bounds-button-container{
	margin-left:5px;
	display: inline-block;
}

.layerVizualizer * h3{
	line-height:22px;
	font-size:12pt;
	font-weight:400;
	float:none;
	clear:both;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:15px;
}

.bottom-tabs-toggled .layerVizualizer * h3{
	padding-top:8px;
}

.layerVizualizer * h3:first-child{
	padding-top:0;
}

.layerVizualizer * .block-like{
	display: inline-block;
}

.layerVizualizer * .canvas-wrapper * area{
	cursor: pointer;
}

@media only screen and (max-width: 1300px) {
	.layerVizualizer * .controls .common-area{
		position:relative;
		display:inline-block;
	}
	.layerVizualizer * .controls{
		width:auto;
		display:inline-block;
	}
}

@media only screen and (max-width: 1366px), only screen and (max-height: 800px) {
	.layer-vizualizer-detail-div{
		margin-top: 5%;
	}
	/*
	.residueItem{
		width:100%;
	}
	*/
	.bottom-panel-toggled .layer-vizualizer-detail-div{
		margin-top: 0;
    	font-size: 7pt;
	}
	/*
	.bottom-tabs-toggled .layer-vizualizer-detail-div{
		display:none;
	}
	*/
	.bottom-panel-toggled .layerVizualizer * h3{
		padding-top:2px;
	}
	.bottom-panel-toggled .bottom-tabs-toggled .layerVizualizer * h3{
		padding-top:10px;
	}
	.bottom-panel-toggled .bottom-tabs-toggled .layerVizualizer * h3:first-child{
		padding-top:0px;
	}
	.bottom-tabs-toggled .wrapper-container{
		width:100%;
	}
}
