* {
    box-sizing: border-box;
}

.publications-list, .author-list {
        margin-top: 0;
    }

        .publications-list dt {
            margin-bottom: 5px;
            border-bottom: 1px solid #ddd;
        }

        .publications-list dd {
            margin-left: 1px;
        }

            .publications-list dd:not(:last-child) {
                margin-bottom: 20px;
            }

            .publications-list dd p {
                border-left: 2px solid #AAA;
                padding-left: 6px;
            }

                .publications-list dd p:hover {
                    border-left: 4px solid #08C;
                }

.channelsdb-api-docs {
            padding: 24px 0;
            border-bottom: 1px solid #eee
        }

            .channelsdb-api-docs > h4 {
                margin-top: 24px;
                color: black;
            }

                .channelsdb-api-docs > h4 > span {
                    color: #DE4D4E;
                    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
                    font-size: 90%
                }

                channelsdb-api-docs > h4:hover, .channelsdb-api-docs > h4:hover > small, .channelsdb-api-docs > h4:hover > span {
                    color: #DE4D4E;
                }


.btnScrollToTop{
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	opacity: 0.4;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.btnScrollToTop span{
	margin-top: 6px;
}

.btnScrollToTop:hover{
  opacity: 1
}
.btn-showScrollTop{
	font-size: 14px;
	opacity: 1;
}

.group-list {
    padding-top: 10px;
    position: relative;
}

.group-list .count {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 22px;
    background: #e5e5e5;
    padding: 0px 4px;
}

.group-list > div {
    float: left;
    width: 150px;
    margin-left: 1%; 
    max-width: 30%;
    margin-bottom: 5px;
    background: #f5f5f5;
    padding: 3px 6px;
    overflow: hidden;
    height: 22px;
    line-height: 18px;
    position: relative;
}

.group-header button {
    display: block;
    font-size: 12pt;
    width: 100%;
    text-align: left;
}

.group-header:hover, .group-header:active, .group-header:focus {
    text-decoration: none;
    font-weight: bold;
}

.entry-list-wrap {
    position: relative;
    padding: 15px 0px 15px 40px;
}

.entry-list-wrap > button {
    position: absolute;
    left: 0;
    top: 15px;
    bottom: 15px;
    width: 20px;
    padding: 0;
}

.pdb-entry {
    float: left;
    width: 49%;
    margin: 0px 1% 10px 0px;
    position: relative;
    min-height: 150px;
}

.pdb-entry-img-wrap {
    position: absolute;
    height: 148px;
    width: 148px;
    max-width: 148px;
    top: 0;
    left: 0;
    bottom: 0;
    background: white;
}


.pdb-entry-img-wrap img {
    border-right: 1px solid #e3e3e3;    
    width: 148px;
    height: 148px;
}

.pdb-entry-header {
    position: absolute;
    line-height: 30px;
    left: 0;
    top: 0;
    right: 0;
    height: 30px;
}


.pdb-entry-header > div:first-child {
    float: left;
    margin-left: 150px;
    padding-left: 10px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}

.pdb-entry-header > div:last-child {
    float: left;
    margin-left: 10px;
    max-width: 50%;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pdb-entry > ul {
    list-style: none;
    padding: 0;
    margin-left: 150px;
    margin-top: 20px;
}

body {
  padding-top: 60px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}